/*                  nav                         */
@media only screen and (max-width: 973px) {
  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #333;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
    padding: 0px 10px;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }

  .links li:hover .bollyact-arrow,
  .links li:hover .cb-arrow {
    transform: rotate(0deg);
  }
  nav .navbar .links li:hover .bollyAct-sub-menu,
  nav .navbar .links li:hover .cb-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .bollyAct-sub-menu,
  .navbar .nav-links.show3 .links .cb-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .bollyact-arrow,
  .navbar .nav-links.show3 .links .cb-arrow {
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}
/*                  nav                         */
/*        catagory        */

@media only screen and (max-width: 425px) {
  #category {
    display: none;
  }
}
/*        catagory        */
/*                   catagary data cards                   */

/*tablate*/
@media only screen and (max-width: 768px) {
  .hading h1 {
    font-size: 4vw;
  }
  .data-card .data-card-hading {
    padding-top: 2%;
    padding-left: 10px;
  }
  .data-card .data-card-info {
    font-size: 2vw;
    padding-left: 10px;
  }
  .data-card .data-card-hading a {
    font-size: 3vw;
  }
}
/*tablate*/

/*mobile*/
@media only screen and (max-width: 425px) {
  .hading h1 {
    font-size: 6vw;
  }
  .data-card {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .data-card .data-card-hading a {
    font-size: 5vw;
  }
  .data-card .data-card-info {
    font-size: 4vw;
  }
}
/*mobile*/

/*                   catagary data cards                   */

/*                   mainpage data cards                   */
/*mobile*/
@media only screen and (max-width: 425px) {
  .databox .datahading h3 {
    font-size: 5vw;
  }
  .datainfo p {
    font-size: 3vw;
  }
  #datapage{
    margin-top: -20px; /* if #category is display none */
  }
}
@media only screen and (max-width: 768px) {
  .data {
    margin-left: 0;
  }
  #datapage .databox {
    width: 80%;
    margin-left: 10%;
    margin-right: 0;
  }
  .databox .datahading h3 {
    font-size: 2.8vw;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .datainfo p {
    font-size: 1.8vw;
  }
}
/*                   main page data cards                   */
/*                   sidebar cards                   */
/*tablate*/
@media only screen and (max-width: 768px) {
  .sidebar .sb-card {
    margin-left: 30px;
    margin-right: 30px;
  }
  .sidebar .sb-card a {
    font-size: 2vw;
    justify-content: center;
  }
  .sidebar .sb-hading h3 {
    font-size: 4vw;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  #dynamic_select {
    padding: 0;
    width: 100%;
  }
}
/*mobile*/
@media only screen and (max-width: 425px) {
  #dynamic_select {
    width: 100%;
  }
  .sidebar .sb-card {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sidebar .sb-card img {
    width: 60px;
  }
  .sidebar .sb-card a {
    font-size: 2.5vw;
  }
  .sidebar .sb-hading h3 {
    font-size: 5vw;
    padding-top: 15px;
    padding-bottom: 0;
  }
}
/*                   sidebar cards                   */

/*                    .pagination                    */
/*mobile*/
@media only screen and (max-width: 425px) {
  .pagination a {
    font-size: 10px;
  }
}

/*                    .pagination                    */

/*                      footer                       */
/*mobile*/
@media only screen and (max-width: 426px) {
  .footer .social-link a img {
    width: 25px;
    margin: 0;
    margin-left: 26px;
  }
  .footer .footer-menu a {
    font-size: 3vw;
    margin: 10px;
  }
  .footer .social-link .footer-social-text {
    font-size: 3vw;
  }
  .footer .footer-copyright {
    font-size: 3vw;
  }
}
/*tablate*/
@media only screen and (max-width: 768px) {
  .footer .social-link .footer-social-text {
    font-size: 2.3vw;
  }
  .footer .footer-menu a {
    font-size: 2.1vw;
  }

  .footer .footer-copyright {
    font-size: 2vw;
  }
}
/*                      footer                       */
